* {
  box-sizing: border-box;
}
body {
  height: 100%;
  margin: 0 auto;
  padding: 3px;
  background-color: black;
  background-image: url(Resources/poker_chips-2.jpg);
  background-position: center;
  background-repeat: no-repeat;
  text-align: center;
}

main {
  color: white;
}

.game-container {
  margin: 0 auto;
  text-align: center;
}

header {
  justify-content: center;
  font-family: 'Big Shoulders Stencil Text', cursive;
  font-size: 100px;
  color: white;
  opacity: 0.75;
  }

.rounds, .community-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.round-label {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 0px;
  color: white;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.button {
  width: 160px;
  height: 40px;
  background-color:gray;
  color: #fff;
  font-size: 100%;
  cursor: pointer;

}

.button[disabled] {
  background-color: #d2d2d2;
  color: #a0a0a0;
  cursor: default;
}

table, th, td {
  border-collapse: collapse;
  border-spacing: 0;

  vertical-align: middle;
}

header h1 {
  margin: 0;
}

figure {
  padding:4px;
  margin:0px;
  border: 0px
}

footer p {
  color: gray;
  font-family: 'Big Shoulders Stencil Text', cursive;
}

.column {
  float: left;
  width: 33.33%;
  padding: 10px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.community-cards td {
  background-color: rgba(128, 128, 128,0.4);
}
